.swipeButtons {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3px);
}

.swipeButtons .swipeButtons_repeat {
  padding: 3vw;
  color: orange;
}

.swipeButtons .swipeButtons_close {
  padding: 3vw;
  color: green;
}

.swipeButtons .swipeButton_favorite {
  padding: 3vw;
  color: pink;
}
