.header {
  color: #657c2b;
  border-bottom-style: solid;
  border-bottom-color: #657c2b;
  height: 6vh;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header h1 {
  color: #657c2b;
}

.header a {
  text-decoration: none;
  margin: 0;
}

.header a:visited {
  text-decoration: none;
  color: white;
}
